
body{
    background: rebeccapurple;
    padding: 0;
    margin: 0;
    height: 100vh;
    user-select: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.board{
    border: 5px solid
}

.tile
{
    background: black;
    padding: 1rem;
    color: azure;
    font: 2em sans-serif;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 10px;
}

table{
    border: none;
}

td{
    border: none;
}

.tile img {
    width: 100%;
 }