
body{
    background: rebeccapurple;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    user-select: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font: 1.5rem/1.2 "Roboto", sans-serif;
}

.board{
    border: 5px solid
}

.tile
{
    background: black;
    padding: 1rem;
    color: azure;
    font: 2em sans-serif;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 10px;
}

table{
    border: none;
}

td{
    border: none;
}

.tile img {
    width: 100%;
 }


/* leaderboard */
.leaderboard-container
{
    padding-top: 1rem;
}

.leaderboard {
  background: linear-gradient(to bottom, #3a404d, #181c26);
}

/* head */
.leaderboard .head {
  color: snow;
  text-align: center;
}
.leaderboard .head h1 {
  display: inline-block;
}

/* body */
.leaderboard .body {
  color: snow;

}
.leaderboard ul {
  counter-reset: number;
  padding-inline-start: 0;
}
.leaderboard li {
  padding: 16px;
  display: flex;
}
.leaderboard li {
  flex-grow: 1;
  color: snow;
  background-color: transparent;
}
.leaderboard li:before {
  counter-increment: number;
  content: counter(number) ".";
}
.leaderboard li:nth-child(1) {
  background: #fa6855;
}
.leaderboard li:nth-child(2) {
  background: #e0574f;
}
.leaderboard li:nth-child(3) {
  background: #d7514d;
}
.leaderboard li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard li:nth-child(5) {
  background: #c24448;
}